* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 0px;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgba(11, 184, 228, 0.2);
}

body:after {
  content: "";
  height: 20%;
  display: block;
}

.center-width {
  width: 90%;
  margin: 0;
  padding: 40px;
  max-width: 1200px;
}

section {
  border-top: 1px solid black;
  min-height: 80%;
  padding-top: 200px;
}

section h2 {
  color: #0bb8e4;
  font-size: 8em;
  position: relative;
  text-transform: uppercase;
}

nav {
  position: fixed;
  padding-right: 60px;
  top: 0;
  right: 0;
  left: 0;
  min-height: 40px;
  background-color: #202b30;
  z-index: 100;
  border-bottom: 8px solid #fff;
}

nav ul {
  position: relative;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

nav ul li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70%;
  margin: 6px 0;
}

nav ul li:not(:last-child) {
  border-right: 1px solid rgba(238, 238, 238, 0.445);
}

nav ul li a {
  position: relative;
  display: block;
  font-size: 80%;
  padding: 2em 2em;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 99%;
}

nav ul li a.hit {
  color: #0bb8e4;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

nav ul li a:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

nav ul li a:hover:not(.hit) {
  color: #17bd5c;
}
